@model IEnumerable<Lab6.Models.Visits>
@{
    ViewBag.Title = "Index";
}

<h2>Visits</h2>

<p>
    @Html.ActionLink("Home", "Index", "Home")|
    @Html.ActionLink("Doctors", "Index", "Doctors")|
    @Html.ActionLink("Patients", "Index", "Patients")|
    @Html.ActionLink("Visits", "Index", "Visits")
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complaint)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.DocId.ToString(), "Details/" + item.DocId, "Doctors")
            </td>
            <td>
                @Html.ActionLink(item.PaId.ToString(), "Details/" + item.PaId, "Patients")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complaint)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
