
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
    <h2>@TempData["gender"]</h2>
@using (Html.BeginForm())
{
    @Html.Label("lblfirstname", "Enter your firstname: ")
    @Html.TextBox("firstname")
    <br /><br />
    @Html.TextBox("lastnane", "John", new { @readonly = "true", @class = "redtextbox" })
    <br /><br />
    @Html.TextBox("middlename", "", new { placeholder = "John Doe" })
    <br /><br />
    @Html.TextBox("department", "", new { style = "background-color:red; color:white;font-weight:bold" })
    <br /><br />
    @Html.TextBox("password")
    <br /><br />
    @Html.TextArea("comments", "", 5, 20, null)
    <br /><br />
    @Html.DropDownList("Departments", new List<SelectListItem> {
new SelectListItem {Text="Please select a derpartment", Value="0", Disabled = true, Selected = true},
new SelectListItem {Text="IT", Value="1"},
new SelectListItem {Text="HR", Value="2"},
new SelectListItem {Text="Payroll", Value="3"}
})
    <br /><br />
    @Html.RadioButton("Gender", "Male")<text>Male</text>
    @Html.RadioButton("Gender", "Female")<text>Female</text>
    @Html.RadioButton("Gender", "Other")<text>Other</text>
    <input type="submit" value="Enter" />
}
