
@model FinalProjectRevised.Models.customer

    @{
        Layout = null;
    }

    <!DOCTYPE HTML>
    <html lang="en">

    <head>
        <title>Login Page</title>
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="application/x-javascript">
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <!-- Meta tag Keywords -->
        <!-- css files -->
        <link rel="stylesheet" href="~/CSS/loginPage.css" type="text/css" media="all" />
        <!-- Style-CSS -->
        <link rel="stylesheet" href="~/CSS/font-awesome.css">
        <!-- Font-Awesome-Icons-CSS -->
        <!-- //css files -->
        <!-- online-fonts -->
        <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        <!-- //online-fonts -->
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </div>
        </div>
        <!--header-->
        <div class="header-w3l">
            <h1>
                <span>A</span>quarius
            </h1>
        </div>
        <!--//header-->
        <div class="main-content-agile">
            <div class="sub-main-w3">
                <h2>Login Here!</h2>
                <form action="Index" method="post">
                    <div class="pom-agile">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        @Html.TextBoxFor(model => model.email, new { @class = "user", placeholder = "E-mail", type = "email", required = "required" })
                    </div>
                    <div class="pom-agile">
                        <span class="fa fa-key" aria-hidden="true"></span>
                        @Html.TextBoxFor(model => model.passwrd, new { @class = "pass", placeholder = "Password", type = "password", required = "required" })
                    </div>
                    <div class="sub-w3l">
                        <div class="sub-agile">
                            <input type="checkbox" id="brand1" value="">
                            <label for="brand1">
                                <span></span>Remember me
                            </label>
                        </div>
                        <a href="#">Forgot Password?</a><br />
                        @Html.ActionLink("Create A New Account", "CreateAccount", "Login")
                        <div class="clear"></div>
                    </div>
                    <div class="right-w3l">
                        <input type="submit" value="Login">
                        <h2 style="color:white">@ViewBag.ErrorMessage</h2>
                    </div>
                </form>
            </div>
        </div>
        <!--//main-->
        <!--footer-->
        <div class="footer">
            <p>
                &copy; 2018 Aquarius Online Store. All rights reserved
            </p>
        </div>
        <!--//footer-->
    </body>

</html>
