@model CIHHospital.Models.Appointment1

@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="appointment">
    <div class="row ap">
        <div class="col-lg-12">
            <form class="appointmentform" action="~/Home/Appointment" method="post">
                <h2>Appointment Form</h2>
                <div class="form-row">
                    <div class="col" id="collbl"><label class="col-form-label">Name:</label></div>
                    <div class="col">
                        @Html.TextBoxFor(model => model.Name, new { type = "text", required = "required", @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col" id="collbl"><label class="col-form-label">Email:</label></div>
                    <div class="col">
                        @Html.TextBoxFor(model => model.Email, new { type = "email", required = "required", @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col" id="collbl"><label class="col-form-label">Tel:</label></div>
                    <div class="col">
                        @Html.TextBoxFor(model => model.Phone_No, new { type = "text", required = "required", @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col" id="collbl"><label class="col-form-label">Doctor:</label></div>
                    <div class="col">
                        @*@Html.DropDownListFor(model => model.Doctor, new SelectList(ViewBag.DocList), new { @class="form-control"})*@
                        @Html.TextBoxFor(model => model.Doctor, new { type = "number", required = "required", @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col" id="collbl"><label class="col-form-label">Date Time:</label></div>
                    <div class="col" id="datetime">
                        @Html.TextBoxFor(model => model.Date, new { type = "date", required = "required", @class = "form-control" })
                    </div>
                    <div class="col">
                        @Html.TextBoxFor(model => model.Time, new { type = "time", required = "required", @class = "form-control" })
                    </div>
                </div><input type="submit" class="btn btn-primary" id="appointmentbtn" value="Submit"/>
                <h3 style="color:green">@ViewBag.Message</h3>
            </form>
        </div>
    </div>
</div>

